!!! 5
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title Building RESTful Services with Grails 3
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="description", content="Reveal JS Template")
    link(href="./assets/css/style.css", rel="stylesheet", type="text/css")

  body
    .reveal
      .slides
        section(data-state="index-slide")
          h1 Building RESTful Web Services with Grails 3
          p
          small by Jenn Strater <a href="http://twitter.com/codeJENNerator" target="_blank"><img style="border:none;margin-top:0px;box-shadow:none;" src="./assets/img/CompanyAndProductLogos/twitter.png"/>@codeJENNerator</a>
        section(data-state="github-slide", class="github-section")
          h1 <i class="fa fa-icon fa-github"></i>
          p Current
          p
            a(href="https://github.com/gr8workshops/gr8workshops-content/tree/master/newtogroovy/introtograils3",target="_blank") Slides(source)
        section
          h2 About Me
          p Professional
          ul.ul-no-style
            li.
              <img class="inline-img" src='./assets/img/opi-square-logo.png' style='vertical-align:middle;'>
              Senior Consultant - <a href="http://objectpartners.com" target="_blank" style='vertical-align:middle'>Object Partners</a>
            li.
              <img class="inline-img" src='./assets/img/gr8ladies.png' style='vertical-align:middle;'>
              Co-Founder - <a href="http://www.gr8ladies.org" target="_blank" style='vertical-align:middle'>Gr8Ladies</a>
        section
          h2 About Me
          p Experience
          img(src='./assets/img/techbooks.jpg', style="width: 60%;")
          small source: http://tjvantoll.com/2014/12/29/so-you-want-to-write-a-tech-book/
        section
          h2 About Me
          p Minneapolis, MN
          p <img src='./assets/img/minnesota.png' style="border:none;margin-top:-25px;">
          ul.ul-no-style Connect on Social Media
            li <a href="https://twitter.com/codeJENNerator" target="_blank">Twitter</a> @codeJENNerator
            li <a href="https://linkedin.com/in/jennstrater" target="_blank">LinkedIn</a> https://linkedin.com/in/jennstrater
            li <a href="https://github.com/jlstrater" target="_blank">Github</a> https://github.com/jlstrater

        section
          h2 About YOU
          ul
            li Students
            li Professional Developers
            ul
              li Java
              li .NET
              li PHP or Ruby
              li JRuby, Scala, or Clojure
              li Groovy

        section
          h2 Agenda
          ul
            li Intro to REST
            li Getting Started
            li Concepts
            ul
              li endpoints
              li response formats
              li best practices
        section
          h2 REST
          p REpresentational State Transfer
          ul.ul-inline
            li allow applications to talk to each other over HTTP
            li responses usually in JSON, XML, or both
            li HTTP methods GET, PUT, POST or DELETE

        section
          h2 When to use Grails
          ul
            li.fragment Quick Start-up time
            li.fragment Small, agile team and project
            li.fragment Traditional data persistence model

        section
          h2 When Not to use Grails
          ul
            li lots of legacy code in another framework
            li Complex high performant systems
            li Non-standard data persistence

        section
          section
            h2 Getting Started

          section
            pre.
              <code>grails create-app --profile=web-api --inplace</code>

        section
          h2 Domain Classes as REST Resources
          pre.
            <code>grails> create-domain-resource com.example.Book</code>

        section
          h2 Domain Classes as REST Resources
          pre.
            <code>import grails.rest.*

            @Resource(uri='/books')
              class Book {
                String title

                static constraints = {
                  title blank:false
              }
            }</code>
          p Much like scaffolding, this is great for demos but not so much for real-world production apps.
        section
          h2 Default Responses
          p *newer versions JSON, older versions default to XML*
          pre.
            <code>@Resource(uri='/books', formats=['json', 'xml'])</code>
          p Specify all the formats the resource should expose. All formats available are in Config.groovy -> grails.mime.types
        section
          h2 Conclusions
          ul Grails
            li makes prototyping fast and efficient
            li works well for standard web apps
        section
          h2 Resources
          ul
            li <a href="http://grails.org" target="_blank">grails.org</a>
            li <a href="http://stackoverflow.com/tags/grails/info target="_blank">StackOverflow</a>
        section
          h3 Questions?
          p <a href="http://twitter.com/codeJENNerator" target="_blank"><img style="border:none;margin:0px;box-shadow:none;" src="./assets/img/CompanyAndProductLogos/twitter.png"/>@codeJENNerator</a>
          p jenn@gr8ladies.org
        section
          h3 Exercises
          p <a href="https://github.com/gr8workshops/gr8workshops-content/blob/master/newtogroovy/introtograils/worksheets/GrailsExercises.pdf">Handout</a>
    script(src="./assets/js/app.js")

    // If the query includes 'print-pdf', use the PDF print sheet
    script(type='text/javascript').
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      } else if ( window.location.search.match( /print-paper/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }

